<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YouTube Video List</title>
</head>
<body>
    <h1>YouTube Python Video List</h1>
    {% for video in videos %}
        <div>
            <h2>{{ video.title }}</h2>
            <a href="{{ url_for('watch', video_id=video.video_id) }}">
                <img src="{{ video.thumbnail }}" alt="{{ video.title }}">
            </a>
        </div>
    {% endfor %}
</body>
</html>